input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  border-radius: 4px;
}

.dark-mode {
  @apply text-white bg-black;
}

.light-mode {
  @apply text-black bg-grayCustom-100;
}
