<div class="w-full p-1">
  <h1 class="flex items-start w-full p-1 mb-2 text-xl font-medium border-b-2 border-solid lg:text-3xl md:text-2xl border-wild-sand-300">
    Diretivas
  </h1>
  <div class="container flex flex-col justify-center gap-4 lg:p-10 md:p-8">
    <app-diretiva-ngif></app-diretiva-ngif>
    <app-diretiva-switch></app-diretiva-switch>
    <app-diretiva-ngfor></app-diretiva-ngfor>
    <app-diretiva-ngclass></app-diretiva-ngclass>
    <app-diretiva-ngstyle></app-diretiva-ngstyle>
    <app-operador-elvis></app-operador-elvis>
    <app-ng-content></app-ng-content>
  </div>
</div>
